language: python
python: '3.8'
install: pip install tox
script: PY_COLORS=1 tox -e $BUILD_NAME

stages:
  - test
  - deploy

matrix:
  include:
  - env: BUILD_NAME=py38-fmt
    script: PY_COLORS=1 tox -e $BUILD_NAME -- --check

  - env: BUILD_NAME="py38-lint -- --color=yes"

  - env: BUILD_NAME="py38-unit -- --color=yes"

  - env: BUILD_NAME=py38-docs
    before_script: git fetch --unshallow --tags

  # Deploy to PyPI whenever the package version has changed
  # When a package version has not changed a new upload will not be triggered
  - stage: deploy
    if: tag IS present
    script:
      - git fetch --unshallow --tags
      - python tools/release.py validate
    deploy:
      provider: pypi
      distributions: sdist
      skip_cleanup: true
      skip_upload_docs: true
      user: $PYPI_USER
      password: $PYPI_PASSWORD
      on:
        repo: VUnit/vunit
        all_branches: true
