name: 'images'

on:
  push:
    paths:
      - '.github/workflows/images.yml'
      - '.github/images.sh'
  schedule:
    - cron: '0 0 * * 5'

env:
  DOCKER_BUILDKIT: '1'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        task: [
          { tag: llvm,  pkg: llvm-9 },
          { tag: mcode, pkg: mcode  },
        ]
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Build image
      env:
        TAG: ${{ matrix.task.tag }}
        PKG: ${{ matrix.task.pkg }}
      run: |
        ./.github/images.sh

    - name: Login to ghcr.io
      if: github.event_name != 'pull_request' && github.repository == 'VUnit/vunit'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: gha
        password: ${{ github.token }}

    - name: Docker push
      if: github.event_name != 'pull_request' && github.repository == 'VUnit/vunit'
      run: |
        DIMG="vunit/dev/${{ matrix.task.tag }}"
        docker tag "$DIMG" "ghcr.io/$DIMG"
        docker push "ghcr.io/$DIMG"
